# Master Database (Server chính - chứa dữ liệu global)
MASTER_HOST=100.81.38.120\WAREHOUSE_MAIN
MASTER_PORT=1433
MASTER_USER=sa
MASTER_PASS=123
MASTER_DATABASE=QUAN_LY_KHO_HANG

# Shard 1 Database (Khu vực KV1)
SHARD1_HOST=192.168.1.100
SHARD1_PORT=1433
SHARD1_USER=sa
SHARD1_PASS=123
SHARD1_DATABASE=QUAN_LY_KHO_HANG_SHARD1

# Shard 2 Database (Khu vực KV2)
SHARD2_HOST=192.168.1.101
SHARD2_PORT=1433
SHARD2_USER=sa
SHARD2_PASS=123
SHARD2_DATABASE=QUAN_LY_KHO_HANG_SHARD2

# Shard 3 Database (Khu vực KV3)
SHARD3_HOST=192.168.1.102
SHARD3_PORT=1433
SHARD3_USER=sa
SHARD3_PASS=123
SHARD3_DATABASE=QUAN_LY_KHO_HANG_SHARD3

# Shard 4 Database (Khu vực KV4)
SHARD4_HOST=192.168.1.103
SHARD4_PORT=1433
SHARD4_USER=sa
SHARD4_PASS=123
SHARD4_DATABASE=QUAN_LY_KHO_HANG_SHARD4

# Server Port
PORT=3000
